# First look at the data and gathering ideas for next steps

In [2]:
import pandas as pd

In [3]:
df_churn = pd.read_parquet("churn-prediction-25-26/train.parquet")

In [5]:
df_churn.shape

(17499636, 19)

Massive dataset with 17_499_636 entries and 19 variables

In [6]:
df_churn.columns

Index(['status', 'gender', 'firstName', 'level', 'lastName', 'userId', 'ts',
       'auth', 'page', 'sessionId', 'location', 'itemInSession', 'userAgent',
       'method', 'length', 'song', 'artist', 'time', 'registration'],
      dtype='object')

**Questions on meaning of variables:**

What is ts?\
What is the sessionId\
What is itemInSession

In [8]:
df_churn.head(5)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21

In [9]:
df_churn.sample(10)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
1159166,200,M,Brody,paid,Mckenzie,1625590,1538659215000,Logged In,NextSong,37114,"Miami-Fort Lauderdale-West Palm Beach, FL",166,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,248.97261,Para Tu Amor,Juanes,2018-10-04 13:20:15,2018-09-29 03:39:21
23568700,200,F,Stephanie,paid,Maldonado,1425164,1539395730000,Logged In,Home,7977,"Phoenix-Mesa-Scottsdale, AZ",398,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",GET,NaN,None,None,2018-10-13 01:55:30,2018-09-22 21:20:23
6737690,200,M,Richard,free,Bryant,1680101,1540119642000,Logged In,NextSong,96304,"Memphis, TN-MS-AR",10,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5...",PUT,307.51302,Clocks,Coldplay,2018-10-21 11:00:42,2018-09-23 12:20:44
21940727,200,F,Hanaa,free,Smith,1455238,1540406613000,Logged In,NextSong,14830,"Sioux Falls, SD",51,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1 like M...",PUT,382.45832,My Bad Days,Okkervil River,2018-10-24 18:43:33,2018-06-26 00:13:51
23034815,200,M,Maximus,free,Warren,1022042,1538600259000,Logged In,NextSong,1482,"Denver-Aurora-Lakewood, CO",140,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:31....,PUT,300.30322,Breathe,U2,2018-10-03 20:57:39,2018-09-25 06:04:08
22245825,200,F,Brielle,free,Miles,1210080,1541373484000,Logged In,NextSong,19954,"Phoenix-Mesa-Scottsdale, AZ",7,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",PUT,337.55383,K.K.K.,Steel Pulse,2018-11-04 23:18:04,2018-08-08 08:32:40
11323705,200,F,Sani,paid,Thomas,1105036,1541262450000,Logged In,NextSong,146132,"St. George, UT",477,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,177.34485,Diane,Material Issue,2018-11-03 16:27:30,2018-09-03 18:48:09
4493915,200,M,Xavier,paid,Booth,1584091,1539568841000,Logged In,Home,72935,"Fresno, CA",0,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,GET,NaN,None,None,2018-10-15 02:00:41,2018-09-12 16:49:18
25438301,200,F,Alexandra,paid,Morales,1754251,1542299766000,Logged In,NextSong,34815,"Somerset, KY",19,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,PUT,277.15873,Horn Concerto No. 4 in E flat K495: II. Romanc...,Barry Tuckwell/Academy of St Martin-in-the-Fie...,2018-11-15 16:36:06,2018-06-02 23:26:15
8958164,200,F,Jazmyn,paid,Griffin,1053390,1540656979000,Logged In,NextSong,118640,"Denver-Aurora-Lakewood, CO",331,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",PUT,187.63710,Smothered (Album Version),Spineshank,2018-10-27 16:16:19,2018-09-13 17:54:12

In [11]:
df_churn.describe()

,status,ts,sessionId,itemInSession,length,time,registration
count,1.749964e+07,1.749964e+07,1.749964e+07,1.749964e+07,1.429143e+07,17499636,17499636
mean,2.091387e+02,1.540428e+12,8.480294e+04,1.055937e+02,2.487135e+02,2018-10-25 00:47:01.161927,2018-08-25 04:40:21.543066
min,2.000000e+02,1.538352e+12,1.000000e+00,0.000000e+00,5.220000e-01,2018-10-01 00:00:01,2017-10-14 22:05:25
25%,2.000000e+02,1.539340e+12,2.515900e+04,2.600000e+01,1.998885e+02,2018-10-12 10:33:57.750000,2018-08-10 21:14:59
50%,2.000000e+02,1.540397e+12,7.903800e+04,6.600000e+01,2.340828e+02,2018-10-24 15:58:54,2018-09-05 18:35:50
75%,2.000000e+02,1.541500e+12,1.383680e+05,1.440000e+02,2.768714e+02,2018-11-06 10:25:35,2018-09-20 17:24:57
max,4.040000e+02,1.542672e+12,2.070030e+05,1.426000e+03,3.024666e+03,2018-11-20 00:00:00,2018-11-19 23:34:34
std,3.023050e+01,1.233485e+09,6.141427e+04,1.168854e+02,9.722845e+01,NaN,NaN

In [12]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17499636 entries, 0 to 25661583
Data columns (total 19 columns):
 #   Column         Dtype
---  ------         -----
 0   status         int64
 1   gender         object
 2   firstName      object
 3   level          object
 4   lastName       object
 5   userId         object
 6   ts             int64
 7   auth           object
 8   page           object
 9   sessionId      int64
 10  location       object
 11  itemInSession  int64
 12  userAgent      object
 13  method         object
 14  length         float64
 15  song           object
 16  artist         object
 17  time           datetime64[us]
 18  registration   datetime64[us]
dtypes: datetime64[us](2), float64(1), int64(4), object(12)
memory usage: 2.6+ GB

Times are already in datetime format\
To change:\
userId should be int

In [18]:
print("Unique Value Count")
few_unique_columns = []

for column_name in df_churn.columns:
    unique_count = df_churn[column_name].nunique()
    print(f"{column_name}: {unique_count}")
    if unique_count < 20:
        few_unique_columns.append(column_name)

Unique Value Count
status: 3
gender: 2
firstName: 4967
level: 2
lastName: 1000
userId: 19140
ts: 4189091
auth: 2
page: 19
sessionId: 161194
location: 875
itemInSession: 1427
userAgent: 85
method: 2
length: 23379
song: 239299
artist: 37264
time: 4189091
registration: 19118

NaN and others:\
length can be NaN, song and artist can be None

In [19]:
for column_name in few_unique_columns:
    unique_values = df_churn[column_name].unique()
    print(f"{column_name}: {unique_values}")

status: [200 307 404]
gender: ['M' 'F']
level: ['paid' 'free']
auth: ['Logged In' 'Cancelled']
page: ['NextSong' 'Downgrade' 'Help' 'Home' 'Thumbs Up' 'Add Friend'
 'Thumbs Down' 'Add to Playlist' 'Logout' 'About' 'Settings'
 'Save Settings' 'Cancel' 'Cancellation Confirmation' 'Submit Downgrade'
 'Roll Advert' 'Upgrade' 'Error' 'Submit Upgrade']
method: ['PUT' 'GET']

In [21]:
max_time = df_churn["time"].max()
min_time = df_churn["time"].min()
print(f"Time min and max = {min_time} - {max_time}")

Time min and max = 2018-10-01 00:00:01 - 2018-11-20 00:00:00

In [23]:
max_registration = df_churn["registration"].max()
min_registration = df_churn["registration"].min()
print(f"Registration min and max = {min_registration} - {max_registration}")

Registration min and max = 2017-10-14 22:05:25 - 2018-11-19 23:34:34

In [27]:
df_churn['page'].value_counts()

page
NextSong                     14291433
Thumbs Up                      789391
Home                           645259
Add to Playlist                409606
Roll Advert                    284837
Add Friend                     262147
Logout                         204700
Thumbs Down                    164964
Downgrade                      124248
Settings                       101191
Help                            89035
Upgrade                         37696
About                           33117
Save Settings                   20370
Error                           17294
Submit Upgrade                  11381
Submit Downgrade                 4425
Cancellation Confirmation        4271
Cancel                           4271
Name: count, dtype: int64

**Next steps from here:**
- More in depth EDA
- Data cleaning (missing values, fix data types, drop columns (like names), convert column entries to more useful readable stuff (like location, Useragent))
- Aggregation (each entry belongs to a single user, user data has to be collectd together)
- Preprocessing (Standardization on numerical features, Encoding on categorical features)

**Caching the data:**
- we have a really big dataset so it makes sense to store the changed data after e.g. data cleaning
- apparently the current format (parquet) is not the most efficient
- Possible ways could be HDF5 (PyTables) or Feather (Arrow IPC)