# First look at the data and gathering ideas for next steps

In [1]:
import pandas as pd

In [2]:
from pathlib import Path

DATA_DIR = Path("data/churn-prediction-25-26")
file_path_dataset = DATA_DIR / "train.parquet"

In [3]:
df_churn = pd.read_parquet(file_path_dataset)

In [4]:
df_churn.shape

(17499636, 19)

Massive dataset with 17_499_636 entries and 19 variables

In [5]:
df_churn.columns

Index(['status', 'gender', 'firstName', 'level', 'lastName', 'userId', 'ts',
       'auth', 'page', 'sessionId', 'location', 'itemInSession', 'userAgent',
       'method', 'length', 'song', 'artist', 'time', 'registration'],
      dtype='object')

**Questions on meaning of variables:**

What is ts?\
What is the sessionId\
What is itemInSession

In [6]:
df_churn.head(5)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21

In [7]:
df_churn.sample(10)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
2153020,200,M,Cole,free,Shepherd,1394508,1538962022000,Logged In,NextSong,49146,"Seattle-Tacoma-Bellevue, WA",30,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,292.10077,Sombre Detune,RÃÂ¶yksopp,2018-10-08 01:27:02,2018-08-27 15:10:48
1023331,200,M,Braden,paid,Elliott,1939313,1538624465000,Logged In,NextSong,32019,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",81,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,PUT,269.71383,Heartbreak Warfare,John Mayer,2018-10-04 03:41:05,2018-09-09 04:38:37
7997988,307,F,Ava,paid,Taylor,1583616,1540427478000,Logged In,Add Friend,112461,"Lansing-East Lansing, MI",209,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,PUT,NaN,None,None,2018-10-25 00:31:18,2018-09-27 01:49:03
23876549,200,F,Kaycee,free,Martinez,1118205,1539880626000,Logged In,NextSong,14620,"Syracuse, NY",40,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,206.94159,Pen And Notebook,Camera Obscura,2018-10-18 16:37:06,2018-09-27 08:42:24
11676701,307,F,Sarah,paid,Nash,1499324,1541401219000,Logged In,Logout,156101,"Baltimore-Columbia-Towson, MD",257,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,NaN,None,None,2018-11-05 07:00:19,2018-09-25 08:17:00
9604009,307,M,Benjamin,paid,Cohen,1695632,1540856210000,Logged In,Thumbs Up,129809,"Chicago-Naperville-Elgin, IL-IN-WI",91,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,PUT,NaN,None,None,2018-10-29 23:36:50,2018-08-09 18:24:03
7589810,200,M,Kenneth,paid,Smith,1616827,1540335054000,Logged In,NextSong,86894,"Atlanta-Sandy Springs-Roswell, GA",82,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,PUT,287.76444,Beautiful,Damian Marley / Bobby Brown,2018-10-23 22:50:54,2018-07-15 09:37:36
6177137,200,M,Tyler,paid,Reilly,1822046,1539951917000,Logged In,Add to Playlist,96320,"Houston-The Woodlands-Sugar Land, TX",84,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",PUT,NaN,None,None,2018-10-19 12:25:17,2018-07-20 17:23:53
23680266,200,M,Cristopher,paid,Miller,1506763,1539623444000,Logged In,Home,14191,"Youngstown-Warren-Boardman, OH-PA",47,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",GET,NaN,None,None,2018-10-15 17:10:44,2018-09-20 18:06:16
5437119,200,F,Ella,paid,Green,1139920,1539789056000,Logged In,Home,90284,"Dallas-Fort Worth-Arlington, TX",99,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",GET,NaN,None,None,2018-10-17 15:10:56,2018-09-23 16:54:35

In [8]:
df_churn.describe()

,status,ts,sessionId,itemInSession,length,time,registration
count,1.749964e+07,1.749964e+07,1.749964e+07,1.749964e+07,1.429143e+07,17499636,17499636
mean,2.091387e+02,1.540428e+12,8.480294e+04,1.055937e+02,2.487135e+02,2018-10-25 00:47:01.161927,2018-08-25 04:40:21.543066
min,2.000000e+02,1.538352e+12,1.000000e+00,0.000000e+00,5.220000e-01,2018-10-01 00:00:01,2017-10-14 22:05:25
25%,2.000000e+02,1.539340e+12,2.515900e+04,2.600000e+01,1.998885e+02,2018-10-12 10:33:57.750000,2018-08-10 21:14:59
50%,2.000000e+02,1.540397e+12,7.903800e+04,6.600000e+01,2.340828e+02,2018-10-24 15:58:54,2018-09-05 18:35:50
75%,2.000000e+02,1.541500e+12,1.383680e+05,1.440000e+02,2.768714e+02,2018-11-06 10:25:35,2018-09-20 17:24:57
max,4.040000e+02,1.542672e+12,2.070030e+05,1.426000e+03,3.024666e+03,2018-11-20 00:00:00,2018-11-19 23:34:34
std,3.023050e+01,1.233485e+09,6.141427e+04,1.168854e+02,9.722845e+01,NaN,NaN

In [9]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17499636 entries, 0 to 25661583
Data columns (total 19 columns):
 #   Column         Dtype
---  ------         -----
 0   status         int64
 1   gender         object
 2   firstName      object
 3   level          object
 4   lastName       object
 5   userId         object
 6   ts             int64
 7   auth           object
 8   page           object
 9   sessionId      int64
 10  location       object
 11  itemInSession  int64
 12  userAgent      object
 13  method         object
 14  length         float64
 15  song           object
 16  artist         object
 17  time           datetime64[us]
 18  registration   datetime64[us]
dtypes: datetime64[us](2), float64(1), int64(4), object(12)
memory usage: 2.6+ GB

Times are already in datetime format\
To change:\
userId should be int

In [10]:
print("Unique Value Count")
few_unique_columns = []

for column_name in df_churn.columns:
    unique_count = df_churn[column_name].nunique()
    print(f"{column_name}: {unique_count}")
    if unique_count < 20:
        few_unique_columns.append(column_name)

Unique Value Count
status: 3
gender: 2
firstName: 4967
level: 2
lastName: 1000
userId: 19140
ts: 4189091
auth: 2
page: 19
sessionId: 161194
location: 875
itemInSession: 1427
userAgent: 85
method: 2
length: 23379
song: 239299
artist: 37264
time: 4189091
registration: 19118

NaN and others:\
length can be NaN, song and artist can be None

In [11]:
for column_name in few_unique_columns:
    unique_values = df_churn[column_name].unique()
    print(f"{column_name}: {unique_values}")

status: [200 307 404]
gender: ['M' 'F']
level: ['paid' 'free']
auth: ['Logged In' 'Cancelled']
page: ['NextSong' 'Downgrade' 'Help' 'Home' 'Thumbs Up' 'Add Friend'
 'Thumbs Down' 'Add to Playlist' 'Logout' 'About' 'Settings'
 'Save Settings' 'Cancel' 'Cancellation Confirmation' 'Submit Downgrade'
 'Roll Advert' 'Upgrade' 'Error' 'Submit Upgrade']
method: ['PUT' 'GET']

In [12]:
max_time = df_churn["time"].max()
min_time = df_churn["time"].min()
print(f"Time min and max = {min_time} - {max_time}")

Time min and max = 2018-10-01 00:00:01 - 2018-11-20 00:00:00

In [13]:
max_registration = df_churn["registration"].max()
min_registration = df_churn["registration"].min()
print(f"Registration min and max = {min_registration} - {max_registration}")

Registration min and max = 2017-10-14 22:05:25 - 2018-11-19 23:34:34

In [14]:
df_churn["page"].value_counts()

page
NextSong                     14291433
Thumbs Up                      789391
Home                           645259
Add to Playlist                409606
Roll Advert                    284837
Add Friend                     262147
Logout                         204700
Thumbs Down                    164964
Downgrade                      124248
Settings                       101191
Help                            89035
Upgrade                         37696
About                           33117
Save Settings                   20370
Error                           17294
Submit Upgrade                  11381
Submit Downgrade                 4425
Cancellation Confirmation        4271
Cancel                           4271
Name: count, dtype: int64

**Next steps from here:**

- More in depth EDA
- Data cleaning (missing values, fix data types, drop columns (like names), convert column entries to more useful readable stuff (like location, Useragent))
- Aggregation (each entry belongs to a single user, user data has to be collectd together, goal is to have 1 row per user and at the end a label)
- Preprocessing (Standardization on numerical features, Encoding on categorical features)

**Caching the data:**

- we have a really big dataset so it makes sense to store the changed data after e.g. data cleaning
- apparently the current format (parquet) is not the most efficient
- Possible ways could be HDF5 (PyTables) or Feather (Arrow IPC)

**Next steps brainstorm:**

- Define the label churn (1,0)
- Data cleaning (delete invalid users, drop useless columns like name or method, convert e.g. ts, handle NaN values but not all delete e.g. artist is nan when no song is played)
- String manipulation (for e.g. location or userAgent we can get better info than right now)
- Think about aggregation strategy (one row per user, think about best way to aggregate current data)
- Feature engineering (how long did user stay on service afer registration, behavior like thumbs up but basically all important "pages",...)
- Preprocessing (encoding categorical text, scaling)
- think about imbalance (e.g. F1 metric later, how to train best with little rate of churn,...)

**Ideas on how to work together:**

- Will probbaly work in Jupyter Notebook (especially useful for EDA, maybe later in py file?)
- not work in the same file!! Conflicts etc., 2 seperate "work files" and then master files where we later put the code together
- Use relative paths only
- Not forget .gitignore
- maybe: loader script (same code always when loading the data), syny environments (different versions of e.g. pandas) - but not yet, if we need it

**Issue with churn:**\
Because we have to predict if users are likely to churn in the next 10 days we can't simply check if a user churned in total. Instead we have to chosse a cut off data with at least 10 days after the date and see if users churned in those 10 days. But that would mean that we will loose a lot of data, since users who churned before that won't be taken into account.\
**Solution to start with:** We will first start with a simple single cutoff on november 10. Then we'll do everything(train our model) and establish a baseline. After that we will try a Multi Window approach where we will cut off on multiple days and then stack these dataframes on top of each other. (users could be in the dataset multiple times but that could be an advantage because we can see changes in their pattern which is especially useful when they churn later)

test push jessie

Benedikt test

Baksdfkasfasfjalksjfklajsfkjaslkjfkasjdf

asdfjasdjfaklsdfj

In [15]:
print("Benedikt Watrzinger")

Benedikt Watrzinger

ug3OYRILGLiutfnioLIYFIUTSVU5BI

In [16]:
print ("jESIE")

jESIE

In [17]:
print("easier Way")

easier Way

In [18]:
print ("This practice is kinda hard")

This practice is kinda hard

In [20]:
DATA_DIR = Path("data/churn-prediction-25-26")
file_path_testdata = DATA_DIR / "test.parquet"

users_train = set(pd.read_parquet(file_path_dataset, columns=['userId'])['userId'])
users_test = set(pd.read_parquet(file_path_testdata, columns=['userId'])['userId'])

In [22]:
overlap = users_train.intersection(users_test)

print(f"Users in Train: {len(users_train)}")
print(f"Users in Test: {len(users_test)}")
print(f"Overlapping Users: {len(overlap)}")

if len(overlap) > 0:
    print("Users appearing in both datasets!")
else:
    print("No user overlap.")

Users in Train: 19140
Users in Test: 2904
Overlapping Users: 0
No user overlap.